/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --header-bg-image: url('../images/cover-image-dark.png');
  --bg-color-main: #000028;
  --headline-color: #DB00FF;
  --accent-color: #FF0070;
  --outline-button-hover: #FF007066;
  --text-color: #F1B2CE;
  --text-title-color: #FF0070;
}