/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --header-bg-image: url('../images/cover-image-light.png');
  --bg-color-main: #fff1f7;
  --headline-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --outline-button-hover: #32312D66; 
  --text-color: #353430;
  --text-title-color: #353430;
  --text-subtitle-color: #353430;
  }
  
.decorate-title {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --header-bg-image: url('../images/cover-image-light.png');
  --bg-color-main: #fff1f7;
  --headline-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --outline-button-hover: #32312D66;
  --text-color: #353430;
  --text-title-color: #353430;
  --text-subtitle-color: #353430;
  }

  .decorate-title {
    display: none;
  }
}
