/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  block-size: 100vh;
  background-image: var(--header-bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
}

.decorate-title {
  position: absolute;
  top: 10px;
  right: 19px;
  text-transform: uppercase;
  font-size: 18px;
  justify-self: end;
  color: var(--color-button);
  display: flex;
  align-items: center;
  gap: 10px;
}

.decorate-picture {
  width: 9px;
  height: 9px;
  background-color: var(--color-button);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 4px var(--color-button);
}

.decorate-border {
  width: 25px;
  height: 25px;
}

.decorate-border-top {
  box-shadow: 1px -1px 0 0 var(--decorate-border);
  position: absolute;
  top: 10px;
  right: 10px;
}

.decorate-border-bottom {
  box-shadow: -1px 1px 0 0 var(--decorate-border);
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
  margin-right: 10px;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 1.5px 13px;
  font-size: 18px;
  color: var(--color-button);
  background-color: transparent;
  border: none;
  text-align: center;
  outline: none;
}

.header__theme-menu-button:active {
  outline: 1px solid var(--outline-button-activ);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--outline-button-hover);
}

.header__theme-menu-button:focus {
  box-shadow: 0 2px 0 -1px var(--outline-button-focus);
}

.headline{
  padding-left: 10px;
  font-size: 116px;
  color: var(--headline-color);
  font-weight: bold;
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--shadow-headline-color);
}

.title {
  margin: 55px 10px 66px;
  font-size: 18px;
  font-weight: bold;
  line-height: 23.4px;
  background-color: var(--bg-title-color);
}