/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--header-bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color-main);
}

.header {
  block-size: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
}

.decorate-title {
  position: absolute;
  top: 10px;
  right: 19px;
  text-transform: uppercase;
  font-size: 18px;
  justify-self: end;
  color: var(--accent-color);
  display: flex;
  align-items: center;
  gap: 10px;
}

.decorate-picture {
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 4px var(--accent-color);
}

.decorate-border::after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 25px;
  height: 25px;
  box-shadow: 1px -1px 0 0 var(--text-title-color);
  top: 10px;
  right: 10px;
}

.decorate-border::before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 25px;
  height: 25px;
  box-shadow: -1px 1px 0 0 var(--text-title-color);
  bottom: 10px;
  left: 10px;
}

.header__theme-menu {
  padding: 8px 0 0 0;
  align-self: center;
  justify-self: end;
  margin-right: 10px;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 1.5px 13px;
  font-size: 18px;
  color: var(--text-title-color);
  background-color: transparent;
  border: none;
  text-align: center;
  outline: none;
}

.header__theme-menu-button:active {
  outline: 1px solid var(--text-title-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--outline-button-hover);
}

.header__theme-menu-button:focus-visible {
  box-shadow: 0 2px 0 -1px var(---text-title-color);
}

.header__theme-menu-button_active {
  border: solid 1px var(--text-title-color);
  pointer-events: none;
}

.headline {
  padding-left: 10px;
  font-size: var(--headline-font-size);
  color: var(--headline-color);
  font-weight: bold;
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header-title {
  margin: 55px 10px 66px;
  font-size: 18px;
  font-weight: bold;
  line-height: 23.4px;
  background-color: var(--accent-color);
  color: var(--text-subtitle-color);
}

.main {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1f;
  gap: 50px;
  font-size: 18px;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 0 10px;
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-title-color);
}

.section-group {
  display: grid;
  gap: 20px;
}

.group {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  gap: 10px;
}

.text-title {
  font-size: 18px;
  background-color: var(--accent-color);
  color: var(--text-subtitle-color);
  font-weight: bold;
  line-height: 23.4px;
}

.text-subtitle {
  font-weight: normal;
  color: var(--text-subtitle-color);
}

.text {
  color: var(--text-color);
  line-height: 23.4px;
  font-weight: normal;
}

.text-link {
  text-decoration-line: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.text-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.text-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.section-picture {
  gap: 10px;
}

.footer {
  position: relative;
  margin-top: 40px;
  block-size: 100vh;
  display: flex;
  align-items: center;
}

.headline-footer {
  padding-left: 14px;
  font-size: var(--headline-font-size);
  color: var(--headline-color);
  font-weight: bold;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.picture {
  display: grid;
  gap: 10px;
}

.image-section {
  inline-size: 100%;
  object-fit: cover;
}

@media (width >=768px) {
  :root {
    --headline-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decorate-title {
    top: 20px;
    right: 29px;
  }

  .decorate-border::after {
    top: 20px;
    right: 20px;
  }

  .decorate-border::before {
    bottom: 20px;
    left: 20px;
  }
 
  .header {
    grid-template-columns: 1fr 1fr;
  }

  .header__theme-menu {
    align-self:center;
    justify-self: end;
    grid-column-start: 2;
  }
  
  .headline {
    padding: 0;
    grid-column: 1 / 3;
  }

  .header-title {
    grid-column-start: 2;
    grid-row-start: 3;
    align-self: center;
  }

  .main {
    gap: 80px;
    margin-top: 60px;
  }

  .section {
    grid-template-columns: 1fr 2fr;
    padding: 0 20px;
  }

  .section-group {
    grid-column-start: 2;
    
  }

  .section:nth-child(even) > .section-group {
    grid-column: span 3;
  }

  .section-picture {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .picture {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .image-section {
    max-inline-size: 100%;
    block-size: 100%;
    max-block-size: 100%;
  }

  .image-section:nth-child(1) {
    grid-column: span 2;
  }

  .image-section:nth-child(2) {
    grid-row: span 2;
  }

  .image-section:nth-child(3) {
    grid-row: span 2;
  }

  .image-section:nth-child(5) {
    grid-column: span 2;
  }

  .footer {
    margin-top: 60px;
    justify-content: center;
  }
}

@media (width >=1024px) {
  .header__theme-menu {
    grid-column: span 2;
    grid-row: 1;
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-item {
    grid-row: 1;
  }

  .section:nth-child(even) > .section-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content;
    gap: 20px;
  }
}
